@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5B59A7;
  --secondary-color: #E8A2B9;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}